#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}



.custom-tabview {
  background-color: #495057 !important; /* Tabview background */
  border-radius: 10px;
}

.custom-tabview .p-tabview-panels {
  background-color: #495057 !important; /* Panel background */
}

.custom-tabview .p-tabview-nav {
  background-color: #495057 !important; /* Navigation background */
}

.custom-tabview .p-tabview-nav .p-tabview-nav-link {
  background-color: #495057 !important; /* Background color for non-selected tabs */

  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-tabview .p-tabview-nav .p-tabview-nav-link:hover {
  background-color: #6c757d !important; /* Background on hover */
}

.custom-tabview .p-tabview-nav .p-tabview-selected {
  background-color: #343a40 !important; 
  color: white;
}


.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
  color: #2196f3;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link{
  color:white;
}

/* Change background color, text color, and border color for all PrimeReact input fields */
.p-inputtext {
  background-color: #dbdcdd; /* Background color for the input */
  border: 1px solid #33383d; /* Border color */
  border-radius: 4px; /* Optional: border radius for rounded corners */
  padding: 0.5em; /* Optional: padding for better spacing */
}

/* Change color on focus */
.p-inputtext:focus {
  background-color: #b6b9bc; /* Background color when focused */
  color: black; /* Text color when focused */
  border-color: #33383d; /* Border color when focused */
  box-shadow: 0 0 0 0.2rem rgba(50, 48, 40, 0.25); /* Optional: shadow effect on focus */
}

/* Optional: Style for text area inputs */
.p-inputtextarea {
  background-color: #dbdcdd; /* Background color for text areas */
  color: white; /* Text color for text areas */
}

/* Change color on focus for text areas */
.p-inputtextarea:focus {
  background-color: #b6b9bc; /* Background color when focused */
  color: white; /* Text color when focused */
  border-color: #33383d; /* Border color when focused */
  box-shadow: 0 0 0 0.2rem rgba(50, 48, 40, 0.25); /* Optional: shadow effect on focus */
}
